.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFBF2; 
    color: #303841;
    padding: 1.2rem 3rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0.103);
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml-small{
    margin-left: 1rem;
}

.profile_pix--small {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.profile_username{
    display: inline-block;
}
 
.header{
    width: 100%;
}

.secondary__header{
    font-size:3rem;
    /* color: #1098F7; */
    color: #303841;
    font-weight: bolder;
}

.header__bottom{
    background-color: #FBFBF2; 
    margin: .3rem 0;
    padding: 1.2rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.flex{
    display: flex;
    flex-direction: column;
}

.greeting{
    font-size: 1.2rem;
    color: #D55672;
}