/* .list{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 1rem 8rem; 

}
 
.row{
    color: #333;
    font-family: 'Nunito', sans-serif;
} 

.row{
    display: flex;
    max-width: 100%;
} 

 .row {
    padding: 11px 13px;
     border-bottom: 1px solid #e7e7e7; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around; 
    align-items: center;
    transition: all 1s; 
} 

.item{
    display: flex;
    padding: .6rem 1rem;
    justify-content: space-around; 
    align-items: center;
    transition: all 1s;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }


.item:hover{
    background-color: #edf0f5;
}
.list__item{
   margin: 0 auto;
} 

.list_item_parent{
    display: flex;
    justify-content: space-between;
}
.secondary-header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

@media (max-width: 600px){
    .list__item{
        width: 90vw;
        margin: 0 auto;
     }
}  

*/

/* Copied codes */
/***** LISTS *****/
.list__container {
    display: flex;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

.income {
    width: 475px; 
    margin-right: 7rem;
}

.expenses {
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
    display: flex;
    justify-content: space-between;
    padding: 13px 5px;
    border-bottom: 1px solid #e7e7e7;
}

.right{
    display: flex;
    justify-content: space-between;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

/* .item__description {
} */

.item__value {
    margin-right: .5rem;
    transition: transform 0.3s;
}

.item__percentage {
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-10px); }
.item:hover .item__percentage { transform: translateX(-10px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }

