.login, .register{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10rem auto; 
    background-color: #19222A;
    color: #f4f4f4;
    padding: 5rem 4rem;
}

small{
    display: block;
    color: rgb(243, 217, 217);
    margin-top: .5rem;
}

.primary__header{
    text-align: center;
    color: #f4f4f4;
    font-size: 2.2rem;
    margin-top: 3.3rem;
    font-weight: bold;
    text-decoration: underline;
}

/* .login-form{
    padding: 5rem 3rem; 
}*/

.form-control{
    margin: 2.5rem 0;
}

.form-group{
    padding: .8rem 1rem;
    border: none;
    outline: none;
} 

.m-l-small{
    margin-left: 1rem;
}

.btn__secondary{
    color: #0897FC;
}

label{
    margin-bottom: 1rem;
    display: inline-block;
    color: bisque;
}

.btn-submit{
   background-color: #0797FC;
   font-weight: bold;
}

 .header{
     display: flex;
     justify-content: center;
     align-items: center;
    margin-top: .5rem
}

 .logo {
    margin-right: 1rem;
    color: #0797FC;
    font-size: 2rem
}
 .logoText {
    max-width: 20rem;
}