
.list-group{
    list-style-type: none;
    display: flex;
}

.list-group-link{
    text-decoration: none;
    color: #f4f4f4;
    padding-right: 2rem;
}

.nav_flex{
    display: inline-block;
    align-items: center;
}