.sideMenu{
    /* background-color: rgb(9, 61, 26); */
    /* background-color: #303841; */
    background-color: #19222A;
    color: #eeeeee;
    padding: 2rem 3rem;
    width: 20%;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    color: #f4f4f4;
    text-decoration: none;
}

.logo{
    font-size: 3.5rem;
    color: #0797FC;
}