*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: #0a0909;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container{
  max-width: 140rem; 
  padding: 0rem 2rem;
}

.App{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-height: 100vh;
}